// kleuren:
$white:             #fff;
$grijs:             #b7b7b7;
$licht-zwart:       rgba(219, 220, 218, .17);
$zwart:             rgba(34, 34, 34, .4);
$bruin:             #572600;
$bruin-rgb:         rgba(162, 20, 20, .43);
$donker-geel:       rgba(218, 205, 35, .43);
$kaki-groen:        #748d26;
$licht-groen:       #bdd732;
$zeescouts-blauw:   rgba(20, 109, 162, .43);
$donker-groen:      rgba(102, 175, 58, .43);