
#kc-form-login .regist-sub-section > div {
    margin: 0 auto;
    width: 200px;
}

.helpLabel{
    width: 157px;
}

.helpLink{
    display: block;
    float: right;
    margin-right: 5px;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    background: url("../img/question-circle.svg") center/contain no-repeat;
}

.extraInfo{
    margin: auto;
    width: 200px;
    font: inherit;
    font-size: 13PX;
    display: block;
    text-align: center;
    margin-bottom: 23px;
    letter-spacing: 1px;
    color: #ffff;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 425px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black;
}

@media only screen and (max-width: 425px) {
    .modal {
        width: 100%;
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

b {
    font-weight: bold;
}

.modal a {
    color: #748d26;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#capatcha {
    text-align: center;
    margin-bottom: 20px;
}
.g-recaptcha {
    display: inline-block;
}
