* {
  box-sizing: border-box;
}

:root {
  --background: #f8f9fa;
  --on-background: #495057;
  --surface: #ffffff;
  --primary: #7b8f1c;
  --on-primary: #ffffff;
  --border: #ced4da;
  --placeholder: #8c9094;
  --card-shadow: 0 2px 1px -1px rgba(50,50,50,.2), 0 1px 1px 0 rgba(50,50,50,.14), 0 1px 3px 0 rgba(50,50,50,.12);
}

body {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding-bottom: 40px;
  margin-top: auto;
}

.logo {
  display: block;
  margin: 20px;
  font-size: max(60px, min(15vh, 200px));
  text-align: center;
  display: block;
  color: var(--primary);
}

main {
  width: 100%;
  max-width: 380px;
  padding: 20px;
  background-color: var(--surface);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
}

h2 {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  color: var(--primary);
}

h3 {
  padding-top: 10px;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover, a:focus {
  text-decoration: underline;
}

.alert {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;
}

.alert-succes {
  color: #318000;
}

.alert-warning {
  color: #a77a00;
}

.alert-error {
  color: #be0000;
}

.alert-info {
  color: #00507e
}

/* FORMS */

.input-field {
  font-size: 16px;
  color: var(--on-background);
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
}

.input-field::-webkit-input-placeholder {
  color: var(--placeholder);
}

.input-field:hover, .input-field:focus {
  border-color: var(--primary);
}

.input-group {
  position: relative;
  margin-top: 12px;
}

.input-group > .input-field {
  margin-top: 0;
  padding-right: 38px;
}

.input-group > .password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/eye.svg") center/contain no-repeat;
  border: none;
  cursor: pointer;
}

.input-subtext {
  color: var(--primary);
  margin-top: 6px;
  text-align: right;
  font-size: 80%;
  letter-spacing: 0;
}

.input-subtext > * {
  cursor: pointer;
}

.input-subtext > *:hover, .input-subtext > *:focus {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  box-shadow: var(--card-shadow);
  transition: transform 0.2s;
}

.btn:focus, .btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  text-decoration: none;
}

form > .btn {
  display: block;
  margin: 20px auto 0;
}

.input-checkbox {
  width: max-content;
  accent-color: var(--primary);
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.user-actions > * {
  display: block;
}

.user-actions > *:not(:last-child) {
  margin-bottom: 11px;
}

.user-actions a {
  text-decoration: underline;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.modal-content {
  background-color: var(--surface);
  border-radius: 8px;
  margin: 10% auto;
  padding: 20px;
  max-width: 400px;
  width: 80%;
}

b {
  font-weight: bold;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#capatcha {
  text-align: center;
  margin-bottom: 20px;
}

.g-recaptcha {
  display: inline-block;
}

/* FOOTER */

.footer {
  font-family: 'museo_sans500',Avenir,Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background: #000;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  padding: 1.5rem 0.75rem;
  margin-top: auto;
}

.footer a {
  color: #fff;
  box-sizing: border-box;
}

.footer a:hover {
  color: #bdd732;
  text-decoration: none;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.footer-row:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .footer-row {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .footer-row {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .footer-row {
    max-width: 960px;
  }
}

.footer-col {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .footer-col:not(.footer-col-small) {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .footer-col-small {
    flex: 0 0 auto;
    width: 50%;
  }
}

.footer-contact-block {
  display: flex;
  align-items: center;
}

.footer-contact-logo {
  min-width: 75px;
  max-width: 75px;
  height: 110px;
  margin-right: 2em;
  display: flex;
  align-items: center;
}

@media (max-width: 390px) {
  .footer-contact-logo {
    display: none;
  }
}

.footer-contact-logo i {
  color: #fff;
  font-size: 100px;
  vertical-align: middle;
}

.footer-partner-block {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .footer-partner-block {
    justify-content: flex-end;
  }
}

.footer-partner {
  display: inline-block;
}

.footer-partner a img {
  max-width: 140px;
  max-height: 70px;
}

.footer-small {
  font-size: 0.875rem;
  flex-direction: column;
}

.footer-privacy {
  display: flex;
}

@media (min-width: 768px) {
  .footer-small {
    flex-direction: row-reverse;
  }
  .footer-privacy {
    justify-content: flex-end;
  }
}
