.alert {
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 23px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 320px;
  box-sizing: border-box;
  max-width: 95vw;
}

.link {
  color: #FFFFFF;
  background: none;
  border: none;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

.alert-succes {
  background: rgba(102, 175, 58, 0.43);
}

.alert-warning {
  background: rgba(218, 205, 35, 0.43);
}

.alert-error {
  background: rgba(87, 38, 0, 0.8);
}

.alert-info {
  background: rgba(20, 109, 162, 0.43);
}

.linkText{
  color: #bdd732;
  text-decoration: none;
}

.subTitle{
  letter-spacing: 1px;
  font-size: 22px;
  padding-bottom: 16px;
}

.textError{
  margin: 0 15%;
  display: block;
  text-align: center;
  width: 70%;
  letter-spacing: 1px;
}
