/* SGV styling */

body {

	background: url("https://www.scoutsengidsenvlaanderen.be/sites/all/themes/theme2014/assets/img/grunge-tile-beige.png") repeat center top #FFF;
}

.side-menu {
	padding-right: 0;
	padding-left: 0
}

.side-menu ul {
	margin: 0;
	padding: 0;
	background-color: rgba(231, 224, 222, 0.5) !important;
}

.side-menu li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #E7E0DE !important;
	overflow: hidden;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.side-menu li a {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	color: #748D26;
}

.side-menu li a:hover {
	color: #572600;
	text-decoration: none;
}

.side-menu .active {
	background-color: #E7E0DE;
}

#content-panel {
	background-color: #E7E0DE;
	min-height: 500px;
	padding-bottom: 10px;
}

#wrapper {
	margin-top: 30px;
}

.alert {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.alert-success {
	color: #748D26;
	border: 2px solid #748D26;
	background-color: #DDE8BB;
}

.alert-error {
	color: #9E0F14;
	border: 2px solid #9E0F14;
	background-color: #E8B6B8;
}

.btn {
	background: none;
	border: none;
	color: rgb(87, 38, 0);
	display: inline-block;
	font-size: 14px;
	height: 42px;
	letter-spacing: 1px;
	line-height: 27px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: center;
	width: 120px;
	z-index: 1;
	margin-right: 10px;
}

.btn::before {
	background-color: rgb(189, 215, 50);
	content: "";
	display: block;
	height: 50px;
	margin-bottom: -37px;
	position: relative;
	top: 11px;
	transform: matrix(1, 0.0174551, 0, 1, 0, 0);
	width: 120px;
	z-index: -1;
}

.btn:focus {
	outline: none;
}

.title {
	color: #ffffff;
	display: inline-block;
	font-size: 18px;
	height: 68px;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 10px;
	padding-top: 6px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 98%;
	z-index: 1;
}

.title::before {
	background-color: rgb(116, 141, 38);
	content: "";
	display: block;
	height: 62px;
	margin-bottom: -37px;
	position: relative;
	top: 11px;
	transform: matrix(1, 0.0174551, 0, 1, 0, 0);
	width: 150%;
	z-index: -1;
}


a {
	color: #748D26;
}

a:hover {
	color: #572600;
	text-decoration: none;
}
a:active, a:visited {
	color: #748D26;
	text-decoration: none;
}

input {
	margin-bottom: 3px;
	border-radius: 3px;
	border: rgb(189, 215, 50) 2px solid;
	width: 260px;
}

input:focus {
	outline: none;
	border-radius: 3px;
	box-shadow: 0 0 10px rgb(189, 215, 50);
}

table {
	width: 100%;
}

table thead {
	background: #748D26;
	color: #ffffff;
}

table td {
	border: 1px solid #748D26;
	padding: 5px;
}

table tbody tr:nth-child(odd) {
	background-color: rgb(230, 239, 186);
}

table tbody tr:nth-child(even) {
	background-color: rgb(195, 210, 117);
}